<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #2169C0;">
        <a class="navbar-brand" href="#">Food speed</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item ">
                    <a class="nav-link text-light" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/customs">Custom</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/products">Product</a>
                </li>
                <li class="nav-item dropdown mr-auto" >
                    <a class="nav-link dropdown-toggle text-light" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId" style="background-color: #4580c9;">
                        <a class="dropdown-item text-light" style="background-color: unset;" href="/">Log out</a>
                        <a class="dropdown-item text-light" style="background-color: unset;" href="/edit">Edit</a>
                    </div>
                </li>
            </ul>
           
        </div>
    </nav>